.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    padding: 10px;
    background-color: gray;
}

form input {
    margin-bottom: 2rem;
    padding: 10px;
    width: 40%;
}

form a:link,
form a:visited,
form a:hover,
form a:active {
    color: black;
    font-weight: 600;
}